/* Global Styles Reset */
*,
*::after,
*::before{
    padding: 0px;
    margin: 0px;
}
/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

/* utility */

.flipped{
    transform: scaleX(-1);
}
.wonbyplayer{
    background-color: #0096E6;
}
.wonbycomputer{
    background-color: yellow;
}

/* Navigation */
nav{
    width: 100%;
    background-color: #0096E6;
}

nav h1{
    font-family: Exo;
    font-size: 48px ;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding: 24px;
}


/* Main game Screen */

.container{
    margin-top: 40px;
    height: 55vh;
    padding: 0 24px;
    display: flex;
}

.player{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

/* PREVIOUS PLAY */

.history{
    flex: 1;
    display: flex;
    gap: 8px;
    justify-content: space-around;
    align-items: end;
    padding-bottom: 30px;
    
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #0096E6;
    box-shadow: 5px 5px 10px #FF340D;
}

.player-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.player-info p{
    font-family: Exo;
    font-size: 40px ;
    font-weight: bolder;
    color: #000000;
}

.player1, .player2{
    border-radius: 20%;
    height: 500px;
    width: 500px;
    
}
.player1{
    box-shadow: 5px 5px 10px #0096E6;
}

.player2{
    box-shadow: 5px 5px 10px yellow;
}




.selection-wrapper{
    margin-top: 24px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 30px;
    padding: 0 50px;
    flex: .2;
    background: #F6FCFF;
    border: 3px solid #0096E6;
    border-radius: 28px;

}

.selection .item{
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    
}

.selection .item:active{
    background-color: #0096E6;
}
.selection .item img{
    
    height: 120px;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 2px 2px 5px #FF340D;
    
}

/* BUTTON   "NEW GAME" */

.wrapper button{
    cursor: pointer;
    background-color: #0096E6;
    font-family: Exo;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #D6EFFF;
    padding: 12px 32px;
    border: 3px solid #ffffff;
    border-radius: 4px;
}


.wrapper{
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}



@media only screen and (max-width: 1120px){
    .container{
        flex-direction: column;
    }
    .player1 , .player2{
        width: 350px;
        height: 150px ;
    }
    .history{
        gap: 4px;
        justify-content: center;
        align-items: center;
        padding: 0px;
        
    }
    
    .circle {
        height: 22px;
        width: 25px;
        border-radius: 50px;
        border: 1px solid #0096E6;
        box-shadow: 5px 5px 10px #FF340D;
    }
}

@media only screen and (max-width: 520px){
    .container{
        flex-direction: column;
    }
    .player1 , .player2{
        width: 250px;
        height: 150px ;
    }
    .history{
        gap: 16px;
        justify-content: center;
        align-items: center;
        padding: 0px;
        
    }
    
}

@media only screen and (max-width: 450px){
    
.selection-wrapper{
    margin-top: 12px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 10px;
    padding: 0 20px;
    

}

.selection .item{
    justify-content: center;
    align-items: center;   
    
}

.selection .item:active{
    background-color: #0096E6;
}
.selection .item img{
    height: 120px;
    border-radius: 12px;
    padding: 5px;
    box-shadow: 2px 2px 5px #FF340D;
}

    
}